In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import sklearn

from scipy.stats import shapiro
from scipy.stats import normaltest
from scipy.stats import anderson
from scipy.stats import chi2_contingency
from scipy.stats import chi2


import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.graphics.gofplots import qqplot

In [8]:
#import the data
scdf = pd.read_csv("Pakistan Largest Ecommerce Dataset.csv", low_memory=False)

In [9]:
scdf.shape

(584524, 21)

In [10]:
scdf.dtypes

item_id                    int64
status                    object
created_at                object
sku                       object
price                    float64
qty_ordered                int64
grand_total              float64
increment_id              object
category_name_1           object
sales_commission_code     object
discount_amount          float64
payment_method            object
Working Date              object
BI Status                 object
 MV                       object
Year                       int64
Month                      int64
Customer_Since            object
M-Y                       object
FY                        object
Customer_ID              float64
dtype: object

In [11]:
scdf.isnull().sum()

item_id                       0
status                       15
created_at                    0
sku                          20
price                         0
qty_ordered                   0
grand_total                   0
increment_id                  0
category_name_1             164
sales_commission_code    137175
discount_amount               0
payment_method                0
Working Date                  0
BI Status                     0
 MV                           0
Year                          0
Month                         0
Customer_Since               11
M-Y                           0
FY                            0
Customer_ID                  11
dtype: int64

In [12]:
# scdf = scdf.drop(scdf.columns[[-1,-2,-3,-4,-5]], axis=1)
scdf = scdf.drop(columns=['Working Date', 'M-Y', 'Year','sales_commission_code','item_id', 'Month'])

In [13]:
# scdf['trip_start_date'] = pd.to_datetime(scdf['trip_start_date'], errors='coerce')
# scdf['Data_Ping_time'] = pd.to_timedelta(scdf['Data_Ping_time'], errors='coerce')
# scdf = scdf[scdf['trip_start_date'].dt.year > 2000]
scdf.loc[scdf.index[5913]]

status                        complete
created_at                   7/24/2016
sku                infinix_Note 2 Grey
price                            16000
qty_ordered                          1
grand_total                      16000
increment_id                 100152216
category_name_1      Mobiles & Tablets
discount_amount                      0
payment_method                     cod
BI Status                          Net
 MV                             16,000
Customer_Since                  2016-7
FY                                FY17
Customer_ID                       1807
Name: 5913, dtype: object

In [14]:
scdf.drop(scdf[scdf['sku'].isnull()].index, inplace=True)
scdf.drop(scdf[scdf['created_at'].isnull()].index, inplace=True)
scdf.drop(scdf[scdf['category_name_1'].isnull()].index, inplace=True)
scdf.drop(scdf[scdf['Customer_ID'].isnull()].index, inplace=True)
scdf.drop(scdf[scdf['status'].isnull()].index, inplace=True)
val = [5914,145788,145789,145790,168684,169738,184587,186870,191504,192053,201209,227127,227153,227174,287272,463620,555299,560281,560282,564965]
for a in val:
    scdf.drop(scdf.index[a], inplace=True)
    
scdf.drop(scdf[scdf['status']== '\\N'].index, inplace=True)
scdf.drop(scdf[scdf['category_name_1']== '\\N'].index, inplace=True)
scdf = scdf.replace(r'\\n',' ', regex=True)
scdf.isnull().sum()

status             0
created_at         0
sku                0
price              0
qty_ordered        0
grand_total        0
increment_id       0
category_name_1    0
discount_amount    0
payment_method     0
BI Status          0
 MV                0
Customer_Since     0
FY                 0
Customer_ID        0
dtype: int64

In [15]:
scdf.to_csv('ecomdf.clean.csv', index=False)

In [16]:
scdf.head()

,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,BI Status,MV,Customer_Since,FY,Customer_ID
0,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,cod,#REF!,"1,950",2016-7,FY17,1.0
1,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,0.0,cod,Gross,240,2016-7,FY17,2.0
2,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,cod,Gross,"2,450",2016-7,FY17,3.0
3,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,cod,Net,360,2016-7,FY17,4.0
4,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,cod,Valid,"1,110",2016-7,FY17,5.0